/*
1. Posicionamiento
2.Modelo decaja
3.Tipografia
4.Estilos visuales
5. Otros
*/
:root{
    /* Colores */
    --bitcoin-orange: #F7931A;
    --soft-orange:#FFE9D5;
    --secondary-blue:#1A9AF7;
    --soft-blue:#E7F5FF;
    --warn-black:#201E1C;
    --black:#282623;
    --gray:#BABABA;
    --off-white:#FAF8F7;
    --just-white:#FFFFFF;

    
}
 
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family:  'DM Sans', sans-serif;;
}

header{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);;

}

header img{
   
    width: 151px;
    height: 24px;
  margin-top: 78px;
  align-self: center;
   
}

.header--title-container{
    width:90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 36px;
    text-align: center;
    align-self: center;
}

.header--title-container h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
    
}

.header--title-container p{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
    margin-top: 2.4rem;
}
.header--title-container .header--button{
  
   position: absolute;
   top: 273px;
    left: calc(50% - 114.5px);
    display: block;
   width: 229px;
   height: 48px;
   background-color: var(--off-white);
   padding: 12px 16px 12px 16px;
   border-radius: 4px;   
   border: none ;
   margin-top: 32px;

   /*Sombra */
   box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    /*font*/
   font-size: 1.4rem;
   font-weight: 700;
   line-height: 1.823rem;
   color: var(--warn-black);
   text-decoration: none;

}


.header--button span{
display: inline-block;
width: 12px;
height: 7.41px;
margin-left: 14px;
background-image: url('../assets/icon/Vector.svg');


}

main{
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}

.main--exchange-container{
    width: 100%;
    height: auto;
    margin-top: 59px;
    margin-bottom: 48px;
    text-align: center;
}

.main--exchange-container--title{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main--exchange-container .backgroundImg{
    width: 195px;
    height: 195px;
    margin: 0 auto;
    margin-bottom: 40px;
    background-image: url('../assets/Img/bitcoin.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 
}

.main--exchange-container--title h2{
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    margin-bottom: 26px;
    color: black;
}

.main--exchange-container--title p{
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: #757575;
}

.main-currency-table{
    width: 73.43%;
    min-width: 235px;
    max-width: 500px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 64px;
    font-family: 'Inter', sans-serif;

}

 main .currency-table--title{
    font-size: 1.8rem;
    color:#FF9536;
    font-weight: 700;
    line-height: 2.344rem;
    padding-bottom: 12px;
    font-family: 'DM Sans', sans-serif;
   
}

.currency-table-container{
    width: 83.82%;
    min-width: 230px;
    max-width: 500px;
    height: 159px;
   
    

}

.currency-table-container table{
    width: 100%;
    height: 100%;
}

.currency-table-container td{
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.936rem;
    color: #B5B0AC;
    background-color: var(--just-white);
}
.currency-table-container .table__top-left{
    border-radius: 15px 0 0 0;
}

.currency-table-container .table__top-right{
    border-radius: 0 15px 0 0;
}
.currency-table-container .table__bottom-left{
    border-radius: 0 0 0 15px;

}

.currency-table-container .table__bottom-right{
    border-radius: 0 0 15px 0;
}

.currency-table-container .table__right{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.694rem;
    color: #757575 ;

}

.currency-table-container .down{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 10px;
    background-image: url('../assets/icon/trendingDown1.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
   

.currency-table-container .up{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 10px;
    background-image: url('../assets/icon/trendingUp1.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
   

.currency-table--date{
width: 173px;
height: 31px;

padding: 8px;
border-radius: 8px;
background-color: var(--soft-orange);
margin-top: 16px;

}

.main-comision-table .currency-table--date p{
    font-size: 1.2rem;
    
    line-height: 1.5rem;
    text-align: center;
    color: var(--warn-black);
}




/*----------Table2-------------*/
.main-comision-table{
    width: 72.18%;
    min-width: 231px;
    max-width: 500px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 64px;

   
    font-family: 'Inter', sans-serif;

}

.comision-table-title{
   
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.344rem;
    color: var(--secondary-blue);
    margin-bottom: 12px;
    font-family: 'DM Sans', sans-serif;
}

.comision-table-container{
    width: 82.28%;
    min-width: 190px;
    max-width: 500px;
    height: 159px;
    margin-bottom: 16px;
    
}

.comision-table-container table{
    width: 100%;
    height: 100%;
}

.comision-table-container td{
    width: 50%;
    font-size: 1.6rem;
    line-height: 1.936rem;
    color: #B5B0AC;
    background-color: var(--just-white);
}

.comision-table-container .table-right{
    font-size: 1.4rem;
    line-height: 1.694rem;
    font-weight: 400;
    color: #757575;

}

.table-top-left{
    border-radius: 15px 0 0 0;
}
.table-top-right{
    border-radius: 0 15px 0 0;
}
.table-bottom-left{
    border-radius: 0 0 0 15px;
}
.table-bottom-right{
    border-radius: 0 0 15px 0;
}

.main-comision-table .comision-table-data{
    width: 173px;
    height: 31px;
    background-color: var(--soft-blue);
    border-radius: 8px;
    padding: 8px;
    
}

.main-comision-table .comision-table-data p{
    font-size: 1.2rem;
    line-height: 1.452rem;
    text-align: center;
    color: var(--warn-black);
    
}

/*--------------section3-------*/

.main-product-detail{
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    background-color: var(--warn-black);
    padding: 20px 16px;
    
}


.product-detail--batata-logo{
    position: absolute;
    width: 40px;
    height: 24.01px;
    left: calc(50% - 20px);
    top: -10px;
    background-image: url('../assets/icon/Group16.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.product-detail--title{
    width: 90%;
    height: 94px;
    min-width: 288px;
    margin: 0 auto;
    margin-top: 44px;
    margin-bottom: 32px;
}
.product-detail--title h2{
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    text-align: center;
    color: var(--just-white);
    margin-bottom: 24px;
}

.product-detail--title p{
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    text-align: center;
    color: #808080;
}
/*------Empiezan las tarjetas-----*/



.product-detail--cards{
   
    width: 100%;
    min-width: 288px;
    max-width: 400px;
    height: 152px;
    border-radius: 4px;
    background-color: var(--black);
    margin: 0 auto;
    margin-bottom: 16px;
    padding: 16px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);

}
/* ---------------ICONS--------------------*/
/*-----CLOCK---*/
.product-detail--cards .clock{
   display: inline-block;
   margin-bottom: 12px;
    
    width: 20px;
    height: 20px;
    background-image: url('../assets/icon/clock1.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    
}

/*-----EYE-----*/
.product-detail--cards .eye{
    display: inline-block;
    margin-bottom: 12px;
     
     width: 20px;
     height: 20px;
     background-image: url('../assets/icon/eye1.svg');
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;    
     
 }

 /*-------Money-----*/
 .product-detail--cards .money{
    display: inline-block;
    margin-bottom: 12px;
     
     width: 20px;
     height: 20px;
     background-image: url('../assets/icon/dollarSign1.svg');
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;    
     
 }

 /*-------Check--------*/
 .product-detail--cards .check{
    display: inline-block;
    margin-bottom: 12px;
     
     width: 20px;
     height: 20px;
     background-image: url('../assets/icon/checkCircle1.svg');
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;    
     
 }




.product-cards--container .product-detail--cards .product--card-title{
  
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.8rem;
    color: var(--just-white);
    margin-bottom: 10px;
   
   
}

.product-cards--container .product-detail--cards .product--card-body{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

/*------------Section 4 (Bitcoin-Image)-----------*/
.bitcoin-img-container{
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url('assets/Img/bitcoinbaby1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bitcoin-img-container h2{
    font-size: 2.4rem;
    line-height: 2.6rem;
    text-align: center;
    font-weight: 700;
    color: var(--just-white);
    padding-top: 64px;
}

/*----------- Sections Planes------*/

.plans-container-slider{
    display: flex;
    height: 320px;    
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type:x proximity;
     
}

.plans--title{
    width: 90%;
    height: auto;
    min-width: 288px;
    height: 122px;
    margin: 0 auto;
    margin-top: 64px;
    margin-bottom: 50px;
    
    
}
.plans--title h2{
    
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--warn-black);
    text-align: center;
    margin-bottom: 24px;
}
.plans--title p{
   
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    text-align: center;
    color: #757575;
}

/* -------First Card -----------*/
.plans-container-cards{
    position: relative;
    scroll-snap-align: center;
    width: 59.37%;
    min-width: 190px;
    max-width: 250px;
    height: 247px;
    border-radius: 8px;
    background-color: var(--just-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    margin: 0 10px;
    padding: 0 15px;
    margin-top: 25px;
    
} 
/*------------PLAN ANUAL-----*/
.plans-container-cards .recommended--anual{
    position: absolute;
    left: calc(50% - 50.5px);
    top: -16px;
    width: 101px;
    height: 31px;
    border-radius: 8px;
    padding: 8px;
    background-color: var(--bitcoin-orange);
    color: var(--just-white);

    /* STYLE TYPHOGRAGHY--*/
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.452rem;
    text-align: center;
}

/*--------------Plan Mensual--*/
.plans-container-cards .recommended--mes{
    position: absolute;
    left: calc(50% - 50.5px);
    top: -16px;
    width: 101px;
    height: 31px;
    border-radius: 8px;
    padding: 8px;
    background-color: var(--secondary-blue);
    color: var(--just-white);

    /* STYLE TYPHOGRAGHY--*/
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.452rem;
    text-align: center;
}

/*--------Plan diario------*/

.plans-container-cards .recommended--dia{
    position: absolute;
    left: calc(50% - 50.5px);
    top: -16px;
    width: 101px;
    height: 31px;
    border-radius: 8px;
    padding: 8px;
    background-color: green;
    color: var(--just-white);

    /* STYLE TYPHOGRAGHY--*/
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.452rem;
    text-align: center;
}



.plan-info-container .plan-card--title{
    padding-top: 31px;
      font-size: 1.4rem;
      line-height: 1.8rem;
      font-weight: 500;
      color: #000000;
}

.plan-card--price{
    
    font-size: 5.2rem;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    line-height: 6.293rem;
    padding: 8px 0 16px 0;
   
}

.plan-card--price span{
  
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.452rem;
    vertical-align: text-top;
   
    
}

.plan-card--saving{
    font-size: 1.2rem;
    line-height: 1.452rem;
    font-weight: 500;
    text-align: center;
    color: #757575;
}

.plan-card--ca{
    margin-top: 16px;
    width: 151px;
    height: 48px;
    
    background-color: var(--off-white);
    border-radius: 4px;
    border: 2px solid #F7931A;

    /*----Style typograghy-*/
    font-size: 1.4rem;
    line-height: 1.823rem;
    font-weight: 700;
    color: var(--warn-black);
    vertical-align: text-bottom;
}

.plan-card--ca span{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('assets/icon/arrow-right1.svg');
   vertical-align: text-bottom;
   
   
}


/*-Footer--*/

footer{
    display: flex;
    width: 100%;
    height: 150px;
    background-color: var(--bitcoin-orange);
}

footer section{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right img{
    width: 64px;
    height: 50px;
}

.left ul{
    list-style: none;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;

}

.left li{
    margin-bottom: 8px;
}
.left a{
    text-decoration: none;
    color: var(--just-white);
    
}
